<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xgenius.tp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/be"
        android:label="@string/app_name"
        android:roundIcon="@drawable/becom"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tp">
        <activity
            android:name="com.xgenius.tp.Autres.AideActivity"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.Autres.NousContacterActivity"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.MesDipActivity"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.MesAttesActivity"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.MesDocActivity"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.OperationActivity"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.Biblioteque_salle"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.Confirmation_activity"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.Direct_salle"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.Acces_salle"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.Profil.PassOub"
            android:exported="true" />
        <activity
            android:name="com.xgenius.tp.InscrireActivity"
            android:exported="false" />
        <activity
            android:name="com.xgenius.tp.Cours.CoursActivity"
            android:exported="true" />
        <activity
            android:name="com.xgenius.tp.AcceuilleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgenius.tp.MainActivity"
            android:exported="true" />
        <activity android:name="com.xgenius.tp.Profil.ProfilModifie" />
        <activity android:name="com.xgenius.tp.Profil.ProfilActivityAff" />
        <activity android:name="com.xgenius.tp.Profil.ProfilActivity" />
        <activity android:name="com.xgenius.tp.ConnexionActivity" />
        <activity android:name="com.xgenius.tp.CreerCompteActivity" />
    </application>

</manifest>